<section class="container" style="max-width: 1440px; margin: 50px auto;">
    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/thS4STzts1g?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
